<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品属性管理</title>
    <script src="../../static/vue/vue.min.js"></script>
    <link rel="stylesheet" href="../../static/elementUI/index.css">
    <script src="../../static/elementUI/index.js"></script>
    <script src="../../static/vue/axios.min.js"></script>
    <script src="../static/jquery-3.2.1.min.js"></script>


</head>
<body>
<div id="app">
    <el-container style="margin-top: 10px">
        <!-- 左侧布局 -->
        <el-card class="box-card" shadow="hover" style="margin-top: 20px;margin-left: 20px;">
            <span style="color: #3a8ee6">商品类别</span>
            <br>
            <br>

        <el-aside style="width: 180px;height: 200px">
           <!--树结构-->
            <el-tree :data="categoryTree" :props="defaultProps"
                     @node-click="handleNodeClick">
            </el-tree>
        </el-aside>
        </el-card>

        <!-- 右侧布局-->

        <el-main>
            <el-card class="box-card" shadow="hover" >
                <el-breadcrumb-item >
                    <el-button type="info" size="mini"
                               style="margin-left: -20px;width: 80px;height:40px;color: honeydew"
                               @click="shouye">首页</el-button>
                </el-breadcrumb-item>

                    <el-breadcrumb-item  v-if="app.categoryMianBao.id > 0">
                        <el-button  size="mini"
                                    style="margin-left: -20px;width: 80px;height:40px;color: #3a8ee6;"
                        >{{categoryMianBao.name}}</el-button>
                    </el-breadcrumb-item>
            </el-card>

            <el-card class="box-card" shadow="hover" >

                <el-button type="primary" @click="dialogVisible=true;attrForm={itemList:[]}">
                    新增
                </el-button>
            <!--table表格-->
            <el-table :data="attrList" style="height: 450px">


                <el-table-column prop="name" label="商品属性"></el-table-column>

                <el-table-column prop="categoryId" label="所属商品"></el-table-column>

                <el-table-column prop="attrItems" label="商品属性值" :formatter="formatter"></el-table-column>

                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button type="primary"size="small" @click="handleEdit(scope.row)">修改</el-button>
                        <el-button type="danger" size="small" >删除</el-button>
                    </template>
                </el-table-column>

            </el-table>
            </el-card>

            <!--dialog编辑窗口-->
            <el-dialog
                    title="属性编辑"
                    :visible.sync="dialogVisible">

                <el-form label-width="80px">

                    <el-form-item label="所属商品">
                        <el-input v-model="categoryMianBao.name" :disabled="true" placeholder="顶级商品"></el-input>
                    </el-form-item>

                    <el-form-item label="属性名称">
                        <el-input  placeholder="属性名称" v-model="attrForm.name"></el-input>
                    </el-form-item>

                    <el-form-item label="属性排序">
                        <el-input placeholder="属性排序" v-model="attrForm.seq"></el-input>
                    </el-form-item>

                    <!--添加一行表单：增加可选项按钮-->
                    <el-form-item>
                        <el-button type="primary" @click="addItem">增加可选项</el-button>
                    </el-form-item>
                    <!--在添加一行表单：可选属性值，和 操作 的表头-->
                    <el-form-item>
                        <el-row>
                            <el-col :span="10">可选项</el-col>
                            <el-col :span="2">&nbsp;</el-col>
                            <el-col :span="8">操作</el-col>
                        </el-row>

                        <!--动态添加一行数据，for循环itemList属性值集合-->
                        <el-row v-for="(item,index) in attrForm.itemList" style="margin-top: 10px">
                            <!--第一列数据-->
                            <el-col :span="10">
                                <el-input v-model="attrForm.itemList[index].text"
                                          placeholder="请输入属性值" style="width: 200px"></el-input>
                            </el-col>
                            <el-col :span="2">&nbsp;</el-col>
                            <el-col :span="8"><el-button type="danger" @click="delItem(index)">删除</el-button></el-col>
                        </el-row>

                    </el-form-item>


                    <el-form-item>
                        <el-button @click="save()">保存</el-button>
                        <el-button @click="dialogVisible = false">关闭</el-button>
                    </el-form-item>
                </el-form>

            </el-dialog>
        </el-main>
    </el-container>

</div>

<script>
    var baseUrl = "http://localhost:90";
    //var baseUrl = "http://api.shop.com";
</script>

<script src="../static/js/attr.js"></script>
</body>
</html>